<h2>All Flights</h2>
<section id="flights">
  <h3>Flight Number / Airline Name </h3>
  <br>
  <% @flights.each do |flight| %>
    <section id="flight-<%=flight.id %>">
      <h4>Flight number: <%= flight.number %> Airline: <%= flight.airline.name %> </h4>
      <ul>
        <% flight.passengers.each do |passenger| %>
        <section id="passenger-<%=passenger.id%>">
          <li> <%= passenger.name %> </li>
        </section>
        <% end %>
      </ul>
    </section>
  <% end %>
  <br>
</section>
