<h2>All Flights</h2>
<section id="flights">
  <h3>Flight Number / Airline Name </h3>
  <br>
  <% @flights.each do |flight| %>
    <section id="flight-<%=flight.id %>">
      <h4>Flight number: <%= flight.number %> Airline: <%= flight.airline.name %> </h4>
      <ul>
        <% flight.passengers.each do |passenger| %>
        <section id="passenger-<%=passenger.id%>">
          <li> <%= passenger.name %> <%= button_to "Remove Passenger",
        delete_flight_passenger_path(flight.id, passenger.id), params: {passenger_id: "#{passenger.id}"}, method: :delete %></li>
        </section>
        <% end %>
      </ul>
    </section>
  <% end %>
  <br>
</section>
